.login-page {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  input[type="submit"] {
    width: 250px;
    padding: 10px;
    margin-top: 10px;
    background-color: lightblue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="submit"]:hover {
    background-color: blue;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  a {
    color: lightblue ;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  